.container{         /*1ºrow logo+menu*/
	width:100px;
	max-width:1000%;
	margin: 0px auto;
	background-color:#695C5C;
	
} 
ul li{
	list-style:none;
	float:left;
	margin-top:8%; 
	margin-right:2%;
	margin-left:1%;
}

.menu{
	color:white;
	text-decoration:none;
}

.fondo{           /*2ºrow titulo+link*/
      background-color:whitesmoke;

}

.titulo{
	padding:10px;
      font-family:'Oswald', sans-serif;
}

.uno{
	font-family:'Oswald', sans-serif;
	text-decoration:none;
	font-size:10px;
}
.cuatro{            /*3ºrow 4 fotos*/  
	width:100%;
	margin:auto; 
	padding:0;
	border:solid white;
}
.dos{
	font-family:'Oswald', sans-serif;
	text-decoration:none;
	text-align:center;
	margin:30px;
	padding:6px;
}
.imagen{       /*secciòn fotos*/
	width:100%;
	padding:2px;
	border:1px solid grey;
}  

.tres{
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	margin:8px;
}
.fotos{
	background-color:whitesmoke;
	padding:5%;
}
/*sidebar*/
.icono{
	width:8%;
}
.derecha{
	float:right;
}

.linea {
	border-bottom:1px solid grey; 
}
.footer{
	background-color:#695C5C;
	text-align:center;
	padding:5%;
}
.lista{
	font-family:'Oswald', sans-serif;
	text-decoration:none;
	font-size:10px;
	margin-right:2%;

}
.parrafo{
	font-family:'Oswald', sans-serif;
	font-size:16px;
}
.porfin{
	font-family:'Oswald', sans-serif;
	font-size:10px;
	margin-right:2%;
	margin-top:3%;
}





	

					